<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.fta.industry.mapper.WarningMapper">
    <resultMap id="BaseResultMap" type="team.fta.industry.domain.Warning">
        <!--@mbg.generated-->
        <!--@Table warning-->
        <id column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="model" jdbcType="VARCHAR" property="model"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        `time`, content, model
    </sql>

    <insert id="insert" parameterType="team.fta.industry.domain.Warning">
        <!--@mbg.generated-->
        insert into warning (`time`, content, model)
        values (#{time,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR})
    </insert>
    <select id="selectRecent" resultMap="BaseResultMap">
        select *
        from warning
        where time >= current_timestamp - INTERVAL 120 MINUTE
        order by time desc;
    </select>
    <select id="selectByDate" resultMap="BaseResultMap">
        select *
        from warning
        where to_days(time) = to_days(#{date})
        order by time desc;
    </select>
</mapper>