<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.fta.industry.mapper.AccountMapper">

    <resultMap id="AccountResultMap" type="team.fta.industry.entity.Account">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="email" jdbcType="VARCHAR" property="email" />
    </resultMap>

    <select id="findAll" resultMap="AccountResultMap">
        select * from industry_monitor.account
    </select>

    <select id="selectAccountById" parameterType="String" resultMap="AccountResultMap">
        select * from industry_monitor.account where industry_monitor.account.id = #{id}
    </select>

</mapper>