<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.fta.industry.mapper.MessageMapper">

    <resultMap id="MessageResultMap" type="team.fta.industry.entity.Message">
        <result column="push_msg" jdbcType="VARCHAR" property="pushMsg" />
        <result column="time" jdbcType="TIMESTAMP" property="time" />
        <result column="href" jdbcType="VARCHAR" property="href" />

    </resultMap>

    <select id="selectAllMessage" resultMap="MessageResultMap">
        select * from industry_monitor.message
    </select>


</mapper>