<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.fta.industry.mapper.ValveMapper">

    <resultMap id="ValveResultMap" type="team.fta.industry.entity.Valve">
        <result column="flow" jdbcType="INTEGER" property="flow" />
        <result column="pressure" jdbcType="INTEGER" property="pressure" />
        <result column="level" jdbcType="INTEGER" property="level" />
        <result column="frequency" jdbcType="INTEGER" property="frequency" />

    </resultMap>

    <select id="selectAllValve" resultMap="ValveResultMap">
        select * from industry_monitor.valve
    </select>


</mapper>